flows.json
[{"id":"342d4fa1.32d4a","type":"tab","label":"Ammonia_detection","disabled":false,"info":""},{"id":"d57f2c7b.0f1df","type":"debug","z":"342d4fa1.32d4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"5e51f5d.68e2c0c","type":"function","z":"342d4fa1.32d4a","name":"temperature","func":"global.set(\"temperature\",msg.payload.d.temperature);\nmsg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["843d310a.43aa3","d57f2c7b.0f1df","b293511c.92615"]]},{"id":"d48b375f.b195c8","type":"function","z":"342d4fa1.32d4a","name":"humidity","func":"global.set(\"humidity\",msg.payload.d.humidity);\nmsg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["8bbcbeda.f3d97","527c4735.d5e418","d57f2c7b.0f1df"]]},{"id":"62be37a9.489fb8","type":"ui_gauge","z":"342d4fa1.32d4a","name":"Ammonia level gauge","group":"bc6f66f6.a5e278","order":0,"width":0,"height":0,"gtype":"gage","title":"Ammonia level gauge","label":"PPM","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":40,"wires":[]},{"id":"843d310a.43aa3","type":"ui_gauge","z":"342d4fa1.32d4a","name":"Temperature level gauge","group":"bc6f66f6.a5e278","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature level gauge","label":"'C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":360,"wires":[]},{"id":"8bbcbeda.f3d97","type":"ui_gauge","z":"342d4fa1.32d4a","name":"Humidity level gauge","group":"bc6f66f6.a5e278","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity level gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":480,"wires":[]},{"id":"51d8676d.2850c8","type":"http in","z":"342d4fa1.32d4a","name":"","url":"/ppm","method":"get","upload":false,"swaggerDoc":"","x":140,"y":620,"wires":[["90464b1f.067d68"]]},{"id":"91b669fe.d90168","type":"http response","z":"342d4fa1.32d4a","name":"","statusCode":"","headers":{},"x":630,"y":620,"wires":[]},{"id":"90464b1f.067d68","type":"function","z":"342d4fa1.32d4a","name":"all_values","func":"msg.payload={\"val\": global.get(\"val\"),\n            \"temperature\": global.get(\"temperature\"),\n    \"humidity\": global.get(\"humidity\")};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":660,"wires":[["91b669fe.d90168"]]},{"id":"ab70d00d.d2a8a","type":"ibmiot out","z":"342d4fa1.32d4a","authentication":"apiKey","apiKey":"570dcb28.2de294","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"data","format":"String","data":"ok","qos":"2","name":"IBM IoT","service":"registered","x":720,"y":700,"wires":[]},{"id":"7b539a2b.d2cfe4","type":"debug","z":"342d4fa1.32d4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":800,"wires":[]},{"id":"cbad228f.94c49","type":"http in","z":"342d4fa1.32d4a","name":"","url":"/info","method":"get","upload":false,"swaggerDoc":"","x":140,"y":760,"wires":[["b5454242.89cb2"]]},{"id":"5ff7a2c6.c8b8dc","type":"http response","z":"342d4fa1.32d4a","name":"","statusCode":"","headers":{},"x":590,"y":860,"wires":[]},{"id":"b5454242.89cb2","type":"function","z":"342d4fa1.32d4a","name":"command","func":"msg.payload=msg.payload.command;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["5ff7a2c6.c8b8dc","ab70d00d.d2a8a","7b539a2b.d2cfe4"]]},{"id":"2351a282.5f048e","type":"cloudant out","z":"342d4fa1.32d4a","name":"ammonia_db","cloudant":"","database":"ammonia_detection","service":"miniApps-cloudantNoSQLDB","payonly":false,"operation":"insert","x":750,"y":180,"wires":[]},{"id":"93a425a7.3539d8","type":"ui_chart","z":"342d4fa1.32d4a","name":"ppm chart","group":"bc6f66f6.a5e278","order":3,"width":0,"height":0,"label":"Ammonia level chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":140,"wires":[[]]},{"id":"b293511c.92615","type":"ui_chart","z":"342d4fa1.32d4a","name":"temp chart","group":"bc6f66f6.a5e278","order":4,"width":0,"height":0,"label":"Temperature level chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":300,"wires":[[]]},{"id":"527c4735.d5e418","type":"ui_chart","z":"342d4fa1.32d4a","name":"humidity chart","group":"bc6f66f6.a5e278","order":5,"width":0,"height":0,"label":"Humidity level chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":420,"wires":[[]]},{"id":"1344c32c.52fe1d","type":"ibmiot in","z":"342d4fa1.32d4a","authentication":"apiKey","apiKey":"570dcb28.2de294","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"ppm","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":"2","x":70,"y":260,"wires":[["2351a282.5f048e","9b86a2e6.fa0e3","5e51f5d.68e2c0c","d48b375f.b195c8"]]},{"id":"9b86a2e6.fa0e3","type":"function","z":"342d4fa1.32d4a","name":"ppm","func":"global.set(\"val\",msg.payload.d.val);\nmsg.payload=msg.payload.d.val;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["93a425a7.3539d8","62be37a9.489fb8","43ce5d1f.cf7f24"]]},{"id":"43ce5d1f.cf7f24","type":"debug","z":"342d4fa1.32d4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":260,"wires":[]},{"id":"bc6f66f6.a5e278","type":"ui_group","z":"","name":"Default","tab":"55c490fd.09922","disp":true,"width":"6","collapse":false},{"id":"570dcb28.2de294","type":"ibmiot","z":"","name":"Ammonia","keepalive":"60","serverName":"q9hbmx.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"55c490fd.09922","type":"ui_tab","z":"","name":"AMMONIA_IN_PPM","icon":"dashboard","disabled":false,"hidden":false}]